################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChessProject-Csharp/.vs/ChessProject-Csharp/v16
